

* {
  /* outline: dashed 2px rgb(60, 255, 0); */
}

body {
  margin: 0 auto;
  width: 1200px;
  background-color: cadetblue;
}

header{
  margin-bottom: 100px;
}

main{
  background-color: azure;
}
footer {
  background-color: rgb(23, 246, 246);
}

ul li {
  display: inline;
  padding: 10px;
  background-color: aqua;
  border-radius: 15px;
}
ol{
  margin-left: 150px;
}
ol li {
display: inline;
padding-left: 25px;
}

h1{
  background-color: darkred;
  color: whitesmoke;
  font-size: 50px;
  margin-bottom: 100px;
  text-shadow: 2px 2px rgb(199, 90, 99);
}

nav {
  background-color: aliceblue;
  height: 250px;
}


/* unvisited link */
a:link {
  color: rgb(0, 255, 191);
}

/* visited link */
a:visited {
  color: rgb(27, 204, 27);
}

/* mouse over link */
a:hover {
  color: rgb(243, 32, 138);
}

/* selected link */
a:active {
  color: rgb(16, 158, 214);
}

section p.more-styles {
  background-color: red;
}

.more-styles {
  background-color: royalblue;
  color: whitesmoke;
}


#another-style {
border: 5px solid orange;
}